/* Estilo */

.header-content-bg {
  background-color: var(--cor-1);
  border-bottom: 3px solid rgba(37, 37, 37, 0.432);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1650px;
  padding: 25px 40px;
  background: var(--cor-1);
  color: var(--cor-3);
  text-transform: uppercase;
  font-family: "Kanit", sans-serif;
  font-size: 1.2rem;
  margin: auto;
}

.header-logo {
  max-width: 200px;
  background-color: var(--cor-1);
  border-radius: 2px;
  padding: 15px;
  border: 2px solid var(--cor-2);
}

.lista-header-primaria,
.lista-login {
  display: flex;
  list-style: none;
  gap: 50px;
  margin-left: 20px;
}

.lista-header-primaria li {
  position: relative;
}

.lista-header-primaria a{
  color: var(--cor-3);
  
}


.lista-header-primaria .mais {
  display: none;
  gap: 6px;
  align-items: center;
}

.lista-header-primaria .mais img {
  rotate: 180deg;
  max-width: 10px;
  padding: 1px 2px;
  border: 1px solid red;
}

.logar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-1);
  border-radius: 5px;
  overflow: hidden;
}

.lista-login {
  gap: 20px;
  padding: 20px;
}

.lista-login a{
  color: var(--cor-3);
}

.logar li {
  color: var(--cor-3);
  z-index: 2;
  padding: 3px 10px;
}

/* Interações */

.lista-header-primaria li::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: var(--cor-2);
  border-radius: 20px;
  margin-top: 4px;
  position: absolute;
}

.lista-header-primaria li:hover::after {
  width: 100%;
  box-shadow: 0px 0px 10px var(--cor-2);
  transition: 0.4s;
}

.header-logo:hover {
  box-shadow: 0px 0px 10px var(--cor-2);
  transition: 0.4s;
}

.lista-login span::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 30px;
  background: var(--cor-2);
}

.menu-lista-responsiva:hover {
  box-shadow: 0px 0px 10px var(--cor-2);
  transition: 0.4s;
}

/* Animation Rotate */

.logar:hover::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 25px;
  background-color: var(--cor-2);
  box-shadow: 0px 0px 15px var(--cor-2);
  animation: rotate 4s linear infinite;
}

.logar::after {
  content: "";
  position: absolute;
  background-color: var(--cor-1);
  inset: 2px;
  border-radius: 5px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Responsividade */
@media (max-width: 1000px) {
  .lista-header-primaria,
  .lista-header-secundaria {
    display: none;
  }

  .menu-lista-responsiva {
    padding: 10px;
    border: 1px solid red;
  }

  .span-1::after {
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    background: var(--cor-2);
  }

  .span-2::after {
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    margin-top: 4px;
    background: var(--cor-2);
  }

  .span-3::after {
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    margin-top: 4px;
    background: var(--cor-2);
  }
}

@media (max-width: 1100px) {
  .lista-header-primaria .suporte {
    display: none;
  }
}

@media (max-width: 1200px) {
  .lista-header-primaria .social {
    display: none;
  }
}

@media (max-width: 1300px) {
  .lista-header-primaria .midia {
    display: none;
  }

  .lista-header-primaria .mais {
    display: flex;
  }
}
