.main-container-bg {
  background: var(--cor-1);
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: auto;
}

video{
  max-width: 100%;
}

.texto-main{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 50px;
  gap: 10px;
}

.main-container img{
  height: 100px;
  max-width: 100%;
  margin-bottom: 10px;
}
.texto-main p{
  font-size: 1.3rem;
  text-align: center;
}

.texto-main a{
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 5px 30px;
  border: 3px solid;
  font-size: 2rem;
  position: relative;
}

.texto-main a::after{
  content: '';
  width: 50px;
  height: 3px;
  background: white;
  position: absolute;
  left: 160px;
  top: 20px;
}

.texto-main a::before{
  content: '';
  width: 50px;
  height: 3px;
  background: white;
  position: absolute;
  left: -70px;
  top: 20px;
}