.noticias-container-bg {
  background: var(--cor-3);
}

.noticia-content {
  max-width: 1440px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: var(--cor-1);
  border-right: 1px solid var(--cor-2);
  border-left: 1px solid var(--cor-2);
  display: grid;
  position: relative;
}

.noticias-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}

.noticias-text h1 {
  font-size: 6rem;
  font-family: var(--font-titulo), sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  color: var(--cor-3);
  justify-self: center;
  letter-spacing: 12px;
  z-index: 3;
}

.noticias-text p {
  font-family: var(--font-list);
  color: rgb(224, 63, 63);
  position: relative;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.noticias-img {
  display: flex;
  gap: 20px;
  padding: 0px 30px;
  color: white;
  align-items: center;
  font-family: var(--font-list);
  position: relative;
  z-index: 3;
}

.noticias-img img {
  max-width: 100%;
}

.noticias-img p {
  display: flex;
  gap: 30px;
}

.noticias-img .att {
  color: rgb(224, 63, 63);
}

.noticias-img h3 {
  max-width: 25ch;
}

/* DETALHES */

.noticia-content::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 500px;
  top: 14px;
  left: 315px;
  background-color: rgba(224, 224, 224, 0.432);
  z-index: 1;
}

.noticia-content h1::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  rotate: 45deg;
  border: 3px solid var(--cor-3);
  top: -18px;
  left: 298px;
  background-color: var(--cor-1);
  z-index: 2;
}

.noticias-text p::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 3px;
  background-color: var(--cor-3);
  right: -20px;
}

/* RESPONSIVO */

@media (max-width: 1500px) {
  .noticia-content::before,
  .noticia-content h1::after {
    display: none;
  }
}

@media (max-width: 1000px) {
  .noticias-text {
    justify-content: start;
    padding: 0px 40px;
    gap: 20px;
  }

  .noticias-img p {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .ponto {
    display: none;
  }

  .noticias-text h1 {
    font-size: 4rem;
  }
}

@media (max-width: 800px) {
  .noticias-img h3 {
    font-size: 1rem;
  }

  .noticias-text p::after {
    display: none;
  }
}

@media (max-width: 700px) {
  .noticias-text {
    flex-direction: column;
    gap: 0px;
  }

  .noticias-text p {
    padding: 10px;
    border: 1px solid;
  }

  .noticia-content {
    gap: 10px;
  }
}

@media (max-width: 670px) {
  .noticias-img {
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-margin-block-start: 0px;
    max-width: 100%;
  }

  .noticias-img::-webkit-scrollbar {
    display: none;
  }

  .noticias-img img {
    max-width: inherit;
  }

  .noticias-img p {
    font-size: 1rem;
    flex-direction: row;
    gap: 20px;
  }

  .noticias-img h3 {
    font-size: 1.3rem;
  }

  .noticias-text {
    padding-right: 0px;
  }
}
